Tenner.Tests/

# Build artifacts
**/bin/
**/obj/

# Visual Studio
**/.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Git
**/.git/
**/.gitignore

# Environment
.env

# Logs
**/*.log

# OS
**/Thumbs.db
**/.DS_Store